body {
  background-color: #fff;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.half-screen {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-row {
  display: flex;
}
.board-item {
  width: 30px;
  height: 30px;
}
.clear {
  background-color: #f6f6f6;
}
.snake {
  background-color: #292929;
  outline: 1px solid #f6f6f6;
}
.food {
  background-color: red;
}
.score {
  margin-top: 30px;
  font-size: 25px;
}
.btn {
  outline: none;
  border: none;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.mode-change {
  position: fixed;
  top: 5px;
  right: 5px;
  cursor: pointer;
}